<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', path='css/mystyles.css')}}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css">
  <title>Report</title>
</head>

<body>
  <section class="section">
    <div class="content">
      <div class="columns is-vcentered">
        <div class="column is-9">
          <h1 class="title is-3">Informe de huella de carbono</h1>
          <p class="has-text-grey">
            {{ organisation }}<br />
            01/01/{{ year }} - 31/12/{{ year }}
          </p>
        </div>
        <div class="column is-3">
          <figure class="image">
            <img src="{{ url_for('static', path='logo.png')}}" />
          </figure>
        </div>
      </div>
      <h2 class="title is-4">Resumen</h2>
      <div class="columns">
        <div class="column">
          <p>
            {{ organisation }} emitió un total de
            <strong> {{ total }} tCO<sub>2</sub>eq</strong> en {{ year }}.
          </p>
        </div>
      </div>
      <div class="columns">
        <div class="column">{{ results | safe}}</div>
        <div class="column">
          <div class="message is-info">
            <div class="message-header">
              <p>¿Qué significa {{ total }} tCO<sub>2</sub>eq</strong>?</p>
            </div>
            <div class="message-body">
              <p>
                Las
                <strong>toneladas de CO<sub>2</sub> equivalente </strong>
                (tCO<sub>2</sub>eq) representan la transformación de todos
                los tipos de gases de efecto invernadero a dióxido de carbono.
              </p>
              <p>
                <span>
                  Estas emisiones ocupan <strong>{{ comparison }}</strong> veces
                  el volumen del <strong>{{ simile }}</strong>.
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <h2 class="title is-4">Distribución de inventarios de gases de efecto invernadero</h2>
      <div class="columns has-text-centered">
        <div class="column">
          <img src="{{ url_for('static', path=distribution)}}" />
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="message is-primary">
            <div class="message-header">
              <p>Alcance 1</p>
            </div>
            <div class="message-body has-text-primary">
              <p>
                Emisiones <strong>directas</strong>:
              </p>
              <ul>
                <li>Calefacción de las instalaciones.</li>
                <li>
                  Vehículos de combustión interna de la organización.
                </li>
                <li>Fugas de gases carbonofluorados.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="message is-success">
            <div class="message-header">
              <p>Alcance 2</p>
            </div>
            <div class="message-body" style="min-height:160px">
              <p>
                Emisiones <strong>indirectas</strong>:
              </p>
              <ul>
                <li>Consumo eléctrico de las instalaciones.</li>
                <li>
                  Vehículos eléctricos de la organización.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% if base_year_comparison or sector_table %}
      <div style="display: block; clear: both; page-break-after: always"></div>
      {% endif %}
      {% if base_year_comparison %}
      <h2 class="title is-4">Comparativa con el año base ({{ base_year }})</h2>
      <div class="columns">
        <div class="column">
          <img src="{{ url_for('static', path=base_year_comparison)}}" />
        </div>
        <div class="column">
          <img src="{{ url_for('static', path=base_year_revenue_comparison)}}" />
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="message is-info">
            <div class="message-header">
              <p>¿Qué es el año base y por qué se requiere definir uno?</p>
            </div>
            <div class="message-body">
              <p>
                El Protocolo de Gases de Efecto Invernadero indica que
                "una comparación significativa y consistente de las
                emisiones a través del tiempo requiere fijar una
                <strong>base de desempeño contra la cual comparar
                  las emisiones actuales</strong>; esto se denomina
                emisiones del año base."
              </p>
              <p>
                Además de comparar las tCO<sub>2</sub>eq de cada año
                agrupadas por alcances, comparamos las emisiones con la cifra
                de negocio de ambos años, para poder tener una imagen
                más completa del desempeño ambiental de la organización.
                El segundo gráfico representa <strong>cuántas tCO<sub>2</sub>eq
                  se producen por cada 1.000 euros facturados</strong>
                (tCO<sub>2</sub>eq/1k€).
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if sector_table %}
      <h2 class="title is-4 mt-5">Comparativa con el sector</h2>
      <div class="columns">
        <div class="column">{{ sector_table | safe}}</div>
      </div>
      <div class="columns">
        <div class="column">
          <img src="{{ url_for('static', path=sector_chart)}}" />
        </div>
        <div class="column">
          <div class="message is-info">
            <div class="message-header">
              <p>¿Cómo nos comparamos con el sector?</p>
            </div>
            <div class="message-body">
              <p>
                A partir de los datos disponibles en
                <strong>fuentes oficiales</strong>,
                conocemos cuántas tCO<sub>2</sub>eq
                se producen en el sector de {{ organisation }} por cada 1.000 euros
                facturados. Este indicador expresa cuál el
                <strong>desempeño ambiental general del sector</strong>.
              </p>
              <p>
                Utilizamos los <strong>datos del último año disponible</strong>
                en las fuentes. Puede no coincidir con el año de la
                huella de carbono de este informe, pues transcurre tiempo
                desde que las organizaciones registran sus emisiones hasta
                que se actualizan las bases de datos oficiales.
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <div style="display: block; clear: both; page-break-after: always"></div>
      <div class="columns">
        <div class="column">
          <h2 class="title is-4 mt-5">Metodología de este informe</h2>
          <p>Esta información explica las características técnicas del informe que ha obtenido con la aplicación de
            Segara.
            Le ayudará a comprender la metodología empleada y nuestra garantía de calidad. Guarde el informe completo,
            puede
            ser de utilidad de cara a sus partes interesadas y a posibles auditorías. Para cualquier duda contacte con
            info@segara.io.</p>
          <h3 class="title is-5 mt-5">Metodología de este informe</h3>
          <p>Aunque ISO 26.000 sobre Responsabilidad Social Corporativa no es un estándar certificable, subraya la
            importancia de la dimensión medioambiental y, en concreto, de la mitigación del cambio climático en su
            apartado
            6.5.5. Distingue entre emisiones directas e indirectas (cadena de valor) y una serie de instrucciones:
            identificar emisiones, medir, registrar, reportar, implementar medidas de reducción y compensación, y
            realizar
            un seguimiento adecuado.</p>
          <p>ISO 26.000 da prioridad a las acciones de reducción directamente relacionadas con las actividades
            cotidianas
            de
            la organización. En materia de compensación, respecto a las emisiones restantes ("remaining GHG Emissions"),
            subraya la importancia de realizar programas fiables y transparentes de reducción de
            emisiones ("reliable emissions reduction programmes that operate in a transparent way"). Por esta razón,
            Segara
            realiza un proceso independiente de verificación de sus partners de reducción y compensación. </p>
          <h3 class="title is-5 mt-5">Fuentes oficiales</h3>
          <p>Los valores de los factores de emisión se obtienen siempre de fuentes oficiales y públicas, entre las
            cuales
            destacan la Agencia Europea de Medioambiente, el IDAE, el Ministerio de Transición Ecológica y la Oficina
            española de Cambio Climático, así como otras fuentes nacionales e internacionales pertinentes (IPCC, DEFRA,
            EPA,
            etc.).</p>
          <p>Segara lleva a cabo vigilancia tecnológica para garantizar la actualización constante de estas fuentes.
            Cada
            organismo oficial actualiza los factores de emisión con una periodicidad diferente. En concreto, en el caso
            de
            los factores de emisión nacionales de proveedores de electricidad, la actualización es anual en función del
            origen de la energía generada, con un retraso de un año. En España se puede inscribir la huella de carbono
            del
            año cuyos factores de emisión estén actualizados en el Excel de la Oficina de Cambio Climático.</p>
          <h3 class="title is-5 mt-5">Control de errores</h3>
          <p>La aplicación de SEGARA ofrece un control automatizado de desviaciones consideradas como "atípicas". Estos
            valores se han definido tomando en consideración los registros históricos de la empresa como valores de
            referencia, así como con las bases de datos que maneja la aplicación según el caso. La precisión de estos
            avisos
            aumenta conforme más registros existan de la empresa. Un valor inusualmente bajo o elevado genera un aviso
            automático que recomienda su revisión. </p>
          <h3 class="title is-5 mt-5">Estándares internacionalmente reconocidos</h3>
          <p>La Ley 11/2018 sobre información no financiera, transposición de la Directiva europea 2014/95/UE, establece
            que
            los reportes de sostenibilidad deben seguir "marcos internacionales reconocidos".</p>
          <p>Para proceder al cálculo de la Huella de Carbono se siguen los siguientes estándares de referencia
            internacional:</p>
          <div class="list">
            <ul>
              <div class="list-item">
                <li>Estándar Corporativo de Contabilidad y Reporte de Emisiones de GEI de Greenhouse Gas Protocol, GHG
                  Protocol</li>
              </div>
              <div class="list-item">
                <li>Directrices del IPCC para el desarrollo de los inventarios nacionales de gases de efecto invernadero
                </li>
              </div>
              <div class="list-item">
                <li>Guías y Fichas con especificidades por sectores económicos de organismos de referencia.</li>
              </div>
            </ul>
          </div>
          <p>Todo ello es compatible con las especificaciones de la norma ISO 14064-1:2019, a su vez basada en el GHG
            Protocol. Así pues en el presente informe se muestra el inventario de emisiones GEI
            de {{ organisation }} correspondiente al año {{ year }}</p>
        </div>
      </div>
      <div style="display: block; clear: both; page-break-after: always"></div>
      <h3 class="title is-5 mt-5">Cómo se ha calculado la huella de CO2 equivalente</h3>
      <div class="columns">
        <div class="column">
          <p>Conforme a estos estándares, convertimos las emisiones de gases de efecto invernadero en toneladas de CO2
            Equivalente (T CO2 e), mediante el potencial de calentamiento global, que representa cómo contribuye cada
            gas
            al efecto invernadero en relación al CO2, según las siguientes familias de Gases de Efecto Invernadero
            (GEI):
          </p>
        </div>
        <div class="column">
          <table class="table is-narrow">
            <thead>
              <tr>
                <th>GEI</th>
                <th>Potencial de calentamiento global (T CO2e / T GEI)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>CO2</td>
                <td>1</td>
              </tr>
              <tr>
                <td>CH4</td>
                <td>28</td>
              </tr>
              <tr>
                <td>N20</td>
                <td>265</td>
              </tr>
              <tr>
                <td>HFC</td>
                <td>138 - 12.400</td>
              </tr>
              <tr>
                <td>SF6</td>
                <td>23.500</td>
              </tr>
              <tr>
                <td>NF3</td>
                <td>17.200</td>
              </tr>
              <tr>
                <td>PCF</td>
                <td>6.630-11.100</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <h3 class="title is-5 mt-5">Límites organizacionales y sector económico</h3>
          <p>Siguiendo las directrices del GHG Protocol, se ha adoptado un enfoque de control en el desarrollo del
            Inventario, por el que se cuantifica y declara el 100% de las emisiones en las que {{ organisation }} posee
            control operacional: participación mayoritaria.</p>
          <p>{{ organisation }} es una empresa perteneciente al sector {{
            sector }}.</p>
          <h3 class="title is-5 mt-5">Límites de informe</h3>
          <p>Los límites operacionales de este informe (fuentes de emisión contempladas) son:</p>
          <div class="list">
            <ul>
              <div class="list-item">
                <li>Emisiones directas o de Alcance 1, generadas dentro de la propia organización por fuentes que ella
                  posee y controla. Se deben al consumo de combustible en vehículos, maquinarias y en otras fuentes
                  fijas: CO2, CH4, N2O del proceso de combustión.</li>
              </div>
              <div class="list-item">
                <li>Emisiones indirectas de Alcance 2: generadas fuera de los límites de control de la organización pero
                  a consecuencia de su actividad. El Alcance 2 se asocia a la generación de la electricidad adquirida de
                  la red, incluyendo las emisiones indirectas derivadas del transporte y distribución de la
                  electricidad.
                </li>
              </div>
              <div class="list-item">
                <li>Guías y Fichas con especificidades por sectores económicos de organismos de referencia.</li>
              </div>
            </ul>
          </div>
          <h3 class="title is-5 mt-5">Validación y gestión de datos</h3>
          <p>El proceso de recopilación de la información varía: 1. volcado manual, factura a factura; 2. volcado masivo
            de facturas; 3. integración con otros sistemas que ya contengan la información y dispositivos de Internet
            of Things. Con toda la información recogida, se procede al cálculo de las emisiones de GEI.</p>
          <p>Para garantizar la gestión del dato y la calidad de los mismos se llevan a cabo una serie de medidas:</p>
          <div class="list">
            <ul>
              <div class="list-item">
                <li>Indicación del tipo de dato: medido (contador, iOt o factura), calculado (a partir de un valor
                  medido) o estimado (a partir del conocimiento de quien introduce los datos o basado en bibliografía).
                </li>
              </div>
              <div class="list-item">
                <li>Alertas de desviación respecto a datos de años precedentes..
                </li>
              </div>
            </ul>
          </div>
          <h3 class="title is-5 mt-5">Presentación de resultados y evolutivo</h3>
          <p>Para disponer de un evolutivo, la empresa debe definir un año base. Año base elegido: {{ base_year }}</p>
          <p> {{ organisation }} define su año base como aquel que considera más representativo de un ejercicio normal
            de
            operaciones y con el cual se comparan los resultados y su desempeño medioambiental.</p>
          <p>Este informe presenta las comparativas de las emisiones de {{ organisation }} respecto a años precedentes,
            por
            fuentes de emisión y dentro de su sector económico (según el INE). Segara define el indicador "intensidad de
            emisiones (carbono) por facturación" como las emisiones totales por cada mil euros de facturación. En el
            informe aparecen las comparativas e indicadores elegidos por {{ organisation }}. </p>
          <p>Una vez que se han realizado todos los cálculos de huella, Segara ofrece una traducción al lenguaje común,
            personalizable según las necesidades de comunicación. Una comunicación clara y asertiva es fundamental con
            el objetivo de poner en valor este informe con todas las partes interesadas, no necesariamente expertos en
            la materia.</p>
        </div>
      </div>
    </div>
  </section>
</body>

</html>